@import "../../assets/default.less";

.album-page-wrapper {
  position: relative;
  max-width: 1200px;
  width: 100%;
  min-height: calc(100vh - 30px * 2 - 58px);
  margin: 30px 18px;
  overflow: hidden;

  main {
    min-height: 100%;
    padding: 20px;
    margin: 0px 0px;
    background-color: rgba(256, 256, 256, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .album-list-body {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
    margin: 20px 0px calc(32px + 20px) 0px;
    padding: 0px 24px;
  }

  .pagination {
    position: absolute;
    padding-right: 16px;
    text-align: right;
    bottom: 20px;
    right: 20px;
  }

  &.dark {
    main {
      .module-page-wrapper.darkMain;
    }
  }
}

.emptyAlburWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
