@import "../../assets/default.less";

.tag-page-wrapper {
  .module-page-wrapper;
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    .allTags,
    .content {
      .module-page-wrapper.main;
    }
    .allTags {
    }
    .content {
      margin-top: 20px;
      flex-grow: 1;
    }
  }
  &.Dark {
    main {
      .allTags,
      .content {
        .module-page-wrapper.darkMain;
      }
    }
  }
}
